$defaultColor: (
	lineColor1: #e8e8e8,
	lineColor2: #f85959,
	lineColor3: #2a90d7,
	lineColor7: #d8d8d8,
	lineColor4: rgba(248, 88, 88, .5),
	lineColor10: #ddd,
	bgColor2: #e8e8e8,
	bgColor3: #f4f5f6,
	bgColor4: #fff,
	bgColor5: rgba(0, 0, 0, .6),
	bgColor7: #f85959,
	bgColor8: #2a90d7,
	bgColor100: #fafafa,
	textColor1: #222,
	textColor2: #505050,
	textColor3: #999,
	textColor4: #f85959,
	textColor5: #406599,
	textColor6: #2a90d7,
	textColor7: #fff,
	textColor8: #fff,
	textColor9: #cacaca,
	textColor12: #fff,
	textColor113: #999
);
$nightColor: (
	lineColor1: #464646,
	lineColor2: #935656,
	lineColor3: #67778b,
	lineColor7: #464646,
	lineColor10: #464646,
	lineColor4: rgba(147, 86, 86, .5),
	bgColor2: #1b1b1b,
	bgColor3: #1b1b1b,
	bgColor4: #252525,
	bgColor5: rgba(0, 0, 0, .6),
	bgColor7: #935656,
	bgColor8: #67778b,
	bgColor100: #252525,
	textColor1: #707070,
	textColor2: #707070,
	textColor3: #707070,
	textColor4: #935656,
	textColor5: #67778b,
	textColor6: #67778b,
	textColor7: #252525,
	textColor8: #fff,
	textColor9: #707070,
	textColor12: #cacaca,
	textColor113: rgba(112, 112, 112, .5)
);